.fatlink {
    background: #97d9b3;

    margin: 5px;
    padding: 10px;
}

.borderarea {
    border-style: solid;
    border-width: medium;
    border-color: #1f2746;
    padding: 10px;
}

div.bordergrey {
    border: 1px solid #CCC;
    padding: 10px;
    margin: 5px;
}

.accordion div {
   padding: 0px 10px;
    font-size: 11pt;
}

.accordion ul {
    margin: 0;
    padding: 0;
}

.filterbox label {
    width: 100px;
    text-align: right;
    padding-right: 20px;
}

.filterbox select {
    width: 100px;
}

.testcolors {
    color: #7cc27c;
    color: #70a1c2;
    color: #d4d257;
    color: #ddaf45;
    color: #c26751;
    color: #c273bf;
    color: #c29e88;
    color: #567ac2;
}

table.datatable {
    border: 1px solid black;
}
.datatable th {
    border: 1px solid black;
    padding: 5px;
    background-color:grey;
    color: white;
    text-align:right;
}
.datatable td {
    border: 1px solid black;
    padding: 5px;
}