html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.wrapper {
    position: relative;
    height: auto !important;
    min-height: 100%;
    margin: 0 auto;
    border-bottom: 1px #f5f5f5 solid;
}
.fatlink {
    background: #97d9b3;

    margin: 5px;
    padding: 10px;
}

.borderarea {
    border-style: solid;
    border-width: medium;
    border-color: #1f2746;
    padding: 10px;
}

div.groupbox {
    border: 1px solid #CCC;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
    /*background-color: #2e6da4;
    color: #ffffff;*/
}

.accordion div {
   padding: 0px 10px;
    font-size: 11pt;
}

.accordion ul {
    margin: 0;
    padding: 0;
}

.filterbox label {
    width: 100px;
    text-align: right;
    padding-right: 20px;
}

.filterbox select {
    width: 150px;
}

.categorybox a {
    color: #222222;
    font-size: 11pt;
}

.categorybox ul {
    padding-left: 20px;
}

.testcolors {
    color: #7cc27c;
    color: #70a1c2;
    color: #d4d257;
    color: #ddaf45;
    color: #c26751;
    color: #c273bf;
    color: #c29e88;
    color: #567ac2;
}

table.datatable {
    border: 1px solid black;
}
.datatable th {
    border: 1px solid black;
    padding: 5px;
    background-color:grey;
    color: white;
    text-align:right;
}
.datatable td {
    border: 1px solid black;
    padding: 5px;
}

#main {
    margin: -20px auto 35px;
    width: 100%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.item .carousel-caption {
    z-index: 10;
    font-size: 28pt;
    text-shadow: 2px 3px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,.6);
    max-width:750px;
    margin: 0 auto;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
}

.item img {
    margin: 0px auto 0;
}

#topbar {
    background: #eac291;
    background-image: -moz-linear-gradient(#eac291, #dbb688);
    border-color: #c4a279;
    border-radius: 0;
}

#bottombar {
    background: #f5f5f5;
    text-align: center;
}

.shadowdeep {
    text-shadow: 0px 2px 1px rgba(0,0,0,.6);
}

.shadow {
    text-shadow: 0px 1px 1px rgba(0,0,0,.6);
}

.navbar-nav > li > a {
    font-size: 13pt;
}

.sidebar {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    background-color: #2e6da4;
    color: #ffffff;
}

.searchbar {
    max-width: 710px;
    border: thin white solid;
    padding: 10px;
    margin: 10px auto;
}

.searchbar label {
    color: #ffffff;
    width: 220px;
    font-size: 12pt;
}
.searchbox {
    font-size: 9pt;
}

.categories a {
    font-size: 13pt;
    color: #ffffff;
}

.categories li {
    margin: 0 0 10px 0;
}

.row {
    overflow: hidden;
}

@media (min-width: 1200px) {
    .sidebar {
        max-width: 400px;
    }
}

@media (max-width: 991px) {
    .sidebar {
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: -20px;
        text-align: center;
    }
    .categories li {
        margin: 0 0 4px 0;
    }
}

button.tipbutton {
    border-radius: 8px;
    border: 1px solid #CCC;
    text-shadow: 0px 1px 1px rgba(0,0,0,.6);
    color:black;
}

div.tipbutton {
    background-image: url(../img/tooltip-sm.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: bottom;
}

th.clearcell {
    border: none;
    background: none;
}

.filterbox select, .filterbox input {
    color: black;
}

.amcharts-export-menu {
    display:none;
}

.amcharts-category-axis .amcharts-axis-label {
    font-size: 13px;
    display: block;
}

.btn-blue {
    background-color: #70a1c2;
    border-color: #3276b2;
    color: #ffffff;
}
.btn-blue:hover {
    background-color: #2e6da4;
    border-color: #204d73;
    color: #ffffff !important;
}

.ui-widget {
    font-size: 14px !important;
}
.ui-widget-content a {
    color: #222222;
    font-size: 13px;
}

/* Drop downs */
.selector {
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 28px;
    color: #444;
    font-size: 9pt;

    padding-left: 6px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
            calc(100% - 10px) calc(1em - 2px),
            calc(100% - 5px) calc(1em - 2px);
    background-size:
            5px 5px,
            5px 5px;
    background-repeat: no-repeat;
}
.selector:focus {
    background-image:
            linear-gradient(45deg, gray 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, gray 50%);
    background-position:
            calc(100% - 5px) calc(1em - 2px),
            calc(100% - 10px) calc(1em - 2px);
    background-size:
            5px 5px,
            5px 5px;
    background-repeat: no-repeat;
}