.fatlink {
    background: #97d9b3;

    margin: 5px;
    padding: 10px;
}

.borderarea {
    border-style: solid;
    border-width: medium;
    border-color: #1f2746;
    padding: 10px;
}

div.bordergrey {
    border: 1px solid #CCC;
    padding: 10px;
    margin: 5px;
}

.accordion div {
   padding: 0px 10px;
}